@import "Constants";

// disabling scroll
body {
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
}
body::-webkit-scrollbar {
  display: none;  // Safari and Chrome
}

.mainMenu {
  margin-bottom: 2em;
}

.transactionsTable {
  overflow: scroll;
}

.transactionsAddPanel > * {
  margin-bottom: 1em;
}

.statisticsChart {
  width: 100%;
  min-height: 300px;
}